/* COLORS */
:root {
  --color-primary: #eb2f64;
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-white: #FFF;
  --color-black: #000;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--color-grey-dark-2); }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6rem; }

.container {
  max-width: 95%;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark); }

.header {
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem; }

.content {
  display: flex; }

.navigation {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: var(--color-white);
  flex: 1;
  height: 80rem; }

/*LOGO*/
.logo {
  height: 3.25rem;
  width: auto;
  padding-left: 3rem; }

/*SEARCH*/
.search {
  display: flex;
  flex: 0 0 40%;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 10rem;
    padding: 1rem 2rem;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem;
    color: var(--color-grey-dark-3); }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__button {
    border: none;
    background-color: transparent; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

/*USER NAVIGATION*/
.user-nav {
  display: flex;
  align-self: stretch;
  align-items: center; }
  .user-nav > * {
    padding: 0 1.25rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 10rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    position: absolute;
    top: 1.75rem;
    left: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user {
    padding-right: 3rem; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 10rem;
    border: 1px solid var(--color-grey-light-2);
    margin: 0 .5rem; }

/*NAVIGATION*/
.navigation-nav {
  list-style: none;
  margin-top: 3.5rem; }
  .navigation-nav__item {
    position: relative; }
    .navigation-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .navigation-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .navigation-nav__item:hover::before, .navigation-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .navigation-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .navigation-nav__link:link, .navigation-nav__link:visited {
    text-decoration: none;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    transition: all .2s;
    position: relative;
    z-index: 100; }
  .navigation-nav__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-light-1);
    margin-right: 2.5rem; }
  .navigation-nav__text {
    text-transform: uppercase;
    color: var(--color-grey-light-1);
    font-size: 1.5rem; }

/*LEGAL*/
.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4); }

/*GALLERY*/
.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

/*OVERVIEW*/
.overview {
  display: flex;
  height: 7rem;
  border-bottom: 1px solid var(--color-grey-light-2); }
  .overview__heading {
    font-weight: 300;
    font-size: 3rem;
    color: var(--color-grey-dark-3);
    margin: 2rem 2rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-primary); }
  .overview__location {
    display: flex; }
  .overview__rating {
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
    font-size: 1.5rem; }

.btn-inline {
  text-decoration: none;
  border: none;
  background: none;
  border-bottom: 2px solid var(--color-grey-dark-1); }
